<%= link_to 'Sections', synonyms_sections_path %>

<h3>Chapter search synonyms of section: <%= section.title %></h3>

<table class='table table-bordered table-striped table-condensed table-chapters'>
  <thead>
    <tr>
      <th class='span1'>Chapter</th>
      <th class='span1'>Headings</th>
      <th class='span9'>Title</th>
      <th class='span1'>Synonyms</th>
    </tr>
  </thead>
  <tbody>
    <% @chapters.each do |chapter| %>
      <tr id='<%= dom_id(chapter) %>'>
        <td><%= chapter.short_code %></td>
        <td><%= link_to chapter.headings_range, synonyms_chapter_headings_path(chapter) %></td>
        <td><%= chapter.description.titleize %></td>
        <td>
          <%= link_to "Edit", synonyms_chapter_search_references_path(chapter), class: 'btn btn-small btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
