<div class="page-header">
  <h1>Edit Chemical <%= chemical.cas %></h1>
  <ul>
  <% chemical.name.split('; ').uniq.each do |name| %>
    <li><%= name %></li>
  <% end %>
  <% chemical.goods_nomenclature_map&.each do |gn| %>
    <li><%= gn.last %></li>
  <% end %>
  </ul>
</div>

<h2>Chemical</h2>
<%= simple_form_for chemical, url: chemical_path(chemical) do |f| %>
  <div class='well'>
    <div class='row'>
      <div class='col-sm-6'>
        <%= f.input :cas, label: 'CAS number', input_html: { class: 'form-control readable-input' }, hint: 'Enter a different CAS number for this chemical' %>
        <%= f.button :button, class: 'btn btn-warning', data: { 'disable-with' => 'Working' } do %>
          Update chemical
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<h3><%= 'Chemical name'.pluralize(chemical.chemical_names&.length) %></h3>
<div class='row'>
  <%- chemical.chemical_names&.each do |name| %>
    <div class='col-sm-6'>
      <%= simple_form_for chemical, url: chemical_path(chemical), method: :patch do |f| %>
        <%= f.input :chemical_name_id, input_html: { value: name.id }, as: :hidden %>
        <%= f.input :name,
          as: :text,
          input_html: { class: 'form-control', value: name.name },
          hint: "Enter a different name for chemical <strong>#{chemical.cas}</strong>".html_safe
        %>

        <div class='form-actions'>
          <%= f.button :button, class: 'btn btn-warning', data: { 'disable-with' => 'Working' } do %>
            Update name
          <% end %>
        </div>

      <% end %>
    </div>
  <% end %>
</div>

<h3><%= 'Commodity mapping'.pluralize(chemical.goods_nomenclature_map&.length) %></h3>
<%- if chemical.goods_nomenclature_map.present? %>
  <div class='row'>
    <%- chemical.goods_nomenclature_map.each do |gn| %>
      <div class='col-sm-6'>
        <%= simple_form_for chemical, url: chemical_update_commodity_mapping_path(chemical, gn_id: gn[0]), method: :patch do |f| %>
            <%= f.input :goods_nomenclature_item_id,
              label: "Commodity #{gn[1]}",
              input_html: { class: 'form-control readable-input', value: gn[1], id: "chemical_update_commodity_mapping_#{gn[1]}" },
              hint: "Enter a different commodity to map to chemical <strong>#{chemical.cas}</strong>".html_safe
            %>

            <div class='form-actions'>
              <%= f.button :button, class: 'btn btn-warning', data: { 'disable-with' => 'Working' }, name: 'update_mapping_button_was_pressed', value: true do %>
                Update mapping
              <% end %>

              &nbsp;

              <%= f.button :button, class: 'btn btn-danger', data: { 'disable-with' => 'Working' }, name: 'delete_mapping_button_was_pressed', value: true do %>
                Delete mapping
              <% end %>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>

<%- end %>

<div class='row'>
  <div class='col-sm-6'>
    <%= simple_form_for chemical, url: chemical_create_commodity_mapping_path(chemical_id: chemical.id), html: { id: "chemical_create_commodity_mapping", method: :post } do |f| %>
      <%= f.input :goods_nomenclature_item_id,
        label: "New commodity",
        input_html: { class: 'form-control readable-input' },
        hint: "Enter a commodity (by code) to map to chemical <strong>#{chemical.cas}</strong>".html_safe %>

      <div class='form-actions'>
        <%= f.button :button, class: 'btn btn-success', data: { 'disable-with' => 'Working' } do %>
          Add mapping
        <% end %>
      </div>
    <% end %>
  </div>
</div>

