<div class="page-header">
  <h1>Edit <%= ' Mapping'.pluralize(chemical.goods_nomenclature_map&.length) %> for Chemical <%= chemical.cas %> </h1>
  <%= 'Name'.pluralize(chemical.name.split('; ').uniq.length)  %>
  <ul>
  <% chemical.name.split('; ').uniq.each do |name| %>
    <li><%= name %></li>
  <% end %>
    <li><%= link_to "Edit chemical", edit_chemical_path(chemical), class: 'btn btn-small btn-warning'%></li>
  </ul>
  Commodity <%= ' mapping'.pluralize(chemical.goods_nomenclature_map&.length) %>
  <ul>
  <% chemical.goods_nomenclature_map&.each do |gn| %>
    <li><%= gn.last %></li>
  <% end %>
    <li><%= link_to "New mapping", chemical_new_commodity_mapping_path(chemical), class: 'btn btn-small btn-success'%></li>
  </ul>
</div>

<h3><%= 'Commodity mapping'.pluralize(chemical.goods_nomenclature_map&.length) %></h3>
<%- if chemical.goods_nomenclature_map.present? %>
  <div class='row'>
    <%- chemical.goods_nomenclature_map.each do |gn| %>
      <div class='col-sm-6'>
        <%= simple_form_for chemical, url: chemical_update_commodity_mapping_path(chemical, gn_id: gn[0]), method: :patch do |f| %>
            <%= f.input :goods_nomenclature_item_id,
              label: "Commodity #{gn[1]}",
              input_html: { class: 'form-control readable-input', value: gn[1], id: "chemical_update_commodity_mapping_#{gn[1]}" },
              hint: "Enter a different commodity to map to chemical <strong>#{chemical.cas}</strong>".html_safe
            %>

            <div class='form-actions'>
              <%= f.button :button, class: 'btn btn-warning', data: { 'disable-with' => 'Working' }, name: 'update_mapping_button_was_pressed', value: true do %>
                Update mapping
              <% end %>

              &nbsp;

              <%= f.button :button, class: 'btn btn-danger', data: { 'disable-with' => 'Working' }, name: 'delete_mapping_button_was_pressed', value: true do %>
                Delete mapping
              <% end %>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>

<%- end %>
