<h2>Chemicals and CAS</h2>
<div class="page-header">

  <%= link_to "New Chemical", new_chemical_path, class: 'btn btn-small btn-success'%>
</div>
<table class='table table-bordered table-striped table-condensed table-chemical'>
  <thead>
    <tr>
      <th>CAS number</th>
      <th>Mapped commodities</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @chemicals.each do |chemical| %>
      <tr id='<%= dom_id(chemical) %>'>
        <td>
          <%= chemical.cas %>
        </td>
        <td>
          <%= chemical.goods_nomenclature_map.values.join(', ') %>
        </td>
        <td align="center">
          <%= link_to "Chemical", edit_chemical_path(chemical), class: 'btn btn-small btn-warning'%>

          &nbsp;

          <%= link_to "Mapping", chemical_edit_commodity_mapping_path(chemical), class: 'btn btn-small btn-warning'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate @chemicals %>
</div>
