<h2>Chemicals and CAS</h2>

<%= simple_form_for @chemical, url: chemicals_path, method: :post do |f| %>
  <div class='well'>
    <h4>Create new chemical</h4>
    <div class='row'>
      <div class='col-sm-6'>
        <%= f.input :cas, label: 'CAS number', input_html: { class: 'form-control readable-input' } %>
      </div>
      <div class='col-sm-6'>
        <%= f.input :name, as: :text, input_html: { class: 'form-control' } %>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12'>
        <%= f.button :button, class: 'btn btn-success', data: { 'disable-with' => 'Working' } do %>
          Create new chemical
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<table class='table table-bordered table-striped table-condensed table-chemical'>
  <thead>
    <tr>
      <th>CAS number</th>
      <th>Mapped commodities</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @chemicals.each do |chemical| %>
      <tr id='<%= dom_id(chemical) %>'>
        <td>
          <%= chemical.cas %>
        </td>
        <td>
          <%= chemical.goods_nomenclature_map.values.join(', ') %>
        </td>
        <td align="center">
          <%= link_to "Edit", chemical_edit_commodity_mapping_path(chemical), class: 'btn btn-small btn-warning'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
