<div class="page-header">
  <h1>New mapping for Chemical <%= chemical.cas %></h1>
  <ul>
  <% chemical.name.split('; ').uniq.each do |name| %>
    <li><%= name %></li>
  <% end %>
  </ul>

  <h3>Mapped commodities</h3>
  <ul>
  <% chemical.goods_nomenclature_map.each do |m| %>
    <li><%= m.second %></li>
  <% end %>
  </ul>
</div>

<%= simple_form_for chemical, url: chemical_create_commodity_mapping_path(chemical_id: chemical.id),
      html: { id: "chemical_create_commodity_mapping", method: :post } do |f| %>
  <div class='row'>
    <div class='col-sm-6'>
      <%= f.input :new_id,
        label: "New commodity",
        input_html: { class: 'form-control' },
        hint: "Enter a new commodity to map to chemical <strong>#{chemical.cas}</strong>".html_safe
      %>
    </div>
  </div>

  <div class='form-actions'>
    <%= f.button :button, class: 'btn btn-success', data: { 'disable-with' => 'Working' } do %>
      Add mapping
    <% end %>
    <%#= link_to "Back", :back, class: 'btn' %>
  </div>
<% end %>