<div class='row'>
  <h2>Sections</h2>

  <table class='table table-bordered table-striped table-condensed table-sections'>
    <thead>
      <tr>
        <th class='span1'>Position</th>
        <th class='span8'>Title</th>
        <th class='span2'></th>
        <th class='span1'></th>
      </tr>
    </thead>
    <tbody>
      <% @sections.each do |section| %>
        <tr id='<%= dom_id(section) %>'>
          <td><%= section.position %></td>
          <td><%= section.title %></td>
          <td>
            <%= link_to 'Search synonyms', section_search_references_path(section), class: 'btn btn-small' %>
          </td>
          <td>
            <%= link_to 'Chapters', section_chapters_path(section), class: 'btn btn-small' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
