<div class='row'>
  <h3>Chapters of section: <%= section.title %></h3>

  <table class='table table-bordered table-striped table-condensed table-chapters'>
    <thead>
      <tr>
        <th class='span1'>Code</th>
        <th class='span8'>Description</th>
        <th class='span2'></th>
        <th class='span1'></th>
      </tr>
    </thead>
    <tbody>
      <% @chapters.each do |chapter| %>
        <tr id='<%= dom_id(chapter) %>'>
          <td><%= chapter.goods_nomenclature_item_id %></td>
          <td><%= chapter.description.titleize %></td>
          <td>
            <%= link_to 'Search synonyms', chapter_search_references_path(chapter), class: 'btn btn-small' %>
          </td>
          <td>
            <%= link_to 'Headings', chapter_headings_path(chapter), class: 'btn btn-small' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
