<div class='row'>
  <h2>Section Notes</h2>

  <table class='table table-bordered table-striped table-condensed table-section-notes'>
    <thead>
      <tr>
        <td colspan="2" class='span10'>Section</td>
        <td class='span2'>
        </td>
      </tr>
    </thead>
    <tbody>
      <% @sections.each do |section| %>
        <tr id='<%= dom_id(section) %>'>
          <td>
            <%= section.position %>
          </td>
          <td>
            <%= section %>
          </td>
          <td>
          <% if section.has_section_note? %>
              <%= link_to "Edit", edit_section_section_note_path(section), class: 'btn btn-small' %>
              <%= link_to "Remove", section_section_note_path(section), method: :delete, data: { confirm: 'Are you sure?', disable: 'Working'}, class: 'btn btn-small btn-warning' %>
            <% else %>
              <%= link_to "Create", new_section_section_note_path(section), class: 'btn btn-small' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h2>Chapter Notes</h2>

  <table class='table table-bordered table-striped table-condensed table-chapter-notes'>
    <thead>
      <tr>
        <td class='span10'>Section</td>
        <td class='span2'>
          <%# <%= link_to "New", new_chapter_note_path, class: 'btn btn-small' %1> %>
        </td>
      </tr>
    </thead>
    <tbody>
      <% @chapters.each do |chapter| %>
        <tr id='<%= dom_id(chapter) %>'>
          <td>
            <%= chapter %>
          </td>
          <td>
            <% if chapter.has_chapter_note? %>
              <%= link_to "Edit", edit_chapter_chapter_note_path(chapter), class: 'btn btn-small' %>
              <%= link_to "Remove", chapter_chapter_note_path(chapter), method: :delete, data: {confirm: 'Are you sure?', disable: 'Working'}, class: 'btn btn-small btn-warning' %>
            <% else %>
              <%= link_to "Create", new_chapter_chapter_note_path(chapter), class: 'btn btn-small' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
