<div class='row'>
  <h2>Section Notes</h2>

  <table class='table table-bordered table-striped table-condensed table-section-notes'>
    <thead>
      <tr>
        <td colspan="2" class='span10'>Section</td>
        <td class='span2'>
          <%= link_to "New", new_section_note_path, class: 'btn btn-small' %>
        </td>
      </tr>
    </thead>
    <tbody>
      <% @section_notes.each do |section_note| %>
        <tr>
          <td>
            <%= section_note.section.position %>
          </td>
          <td>
            <%= section_note.section %>
          </td>
          <td>
            <%= link_to "Edit", edit_section_note_path(section_note), class: 'btn btn-small' %>
            <%= link_to "Remove", section_note_path(section_note), method: :delete, confirm: 'Are you sure?', class: 'btn btn-small btn-warning' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h2>Chapter Notes</h2>

  <table class='table table-bordered table-striped table-condensed table-chapter-notes'>
    <thead>
      <tr>
        <td class='span10'>Section</td>
        <td class='span2'>
          <%= link_to "New", new_chapter_note_path, class: 'btn btn-small' %>
        </td>
      </tr>
    </thead>
    <tbody>
      <% @chapter_notes.each do |chapter_note| %>
        <tr>
          <td>
            <%= chapter_note.chapter.goods_nomenclature_item_id %>
          </td>
          <td>
            <%= link_to "Edit", edit_chapter_note_path(chapter_note), class: 'btn btn-small' %>
            <%= link_to "Remove", chapter_note_path(chapter_note), method: :delete, confirm: 'Are you sure?', class: 'btn btn-small btn-warning' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
