<h2>Section Notes</h2>

<table class='table table-bordered table-striped table-condensed table-section-notes'>
  <thead>
    <tr>
      <th class='span1'>Section</th>
      <th class='span1'>Chapters</th>
      <th class='span9'>Title</th>
      <th class='span1'>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @sections.each do |section| %>
      <tr id='<%= dom_id(section) %>'>
        <td>
          <%= section.position %>
        </td>
        <td>
          <%= link_to section.chapters_range, notes_section_chapters_path(section) %>
        </td>
        <td>
          <%= section %>
        </td>
        <td>
        <% if section.has_section_note? %>
            <%= link_to "Edit", edit_notes_section_section_note_path(section), class: 'btn btn-small btn-warning' %>
          <% else %>
            <%= link_to "Add", new_notes_section_section_note_path(section), class: 'btn btn-small btn-success' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
