<h2>Tariff Updates</h2>

<table class='table table-bordered table-striped table-condensed table-tariff-updates'>
  <thead>
    <tr>
      <th class='span2'>Update type</th>
      <th class='span2'>File name</th>
      <th class='span2'>State</th>
      <th class='span2'>Created at</th>
      <th class='span2'>Applied at</th>
      <th class='span2'>File size</th>
      <th class='span2'>Exception</th>
    </tr>
  </thead>
  <tbody>
    <% @tariff_updates.each do |tariff_update| %>
      <tr id='<%= dom_id(tariff_update) %>'>
        <td><%= tariff_update.update_type %></td>
        <td><%= tariff_update.filename %></td>
        <td><%= tariff_update.state %></td>
        <td><%= tariff_update.created_at %></td>
        <td><%= tariff_update.applied_at %></td>
        <td><%= number_to_human_size(tariff_update.filesize) %></td>
        <td>
          <strong><%= tariff_update.exception_class %></strong>
          <% if tariff_update.exception_queries %>
            <div>queries:</div>
            <pre><%= tariff_update.exception_queries %></pre>
          <% end %>
          <% if tariff_update.exception_backtrace %>
            <div>backtrace:</div>
            <pre><%= tariff_update.exception_backtrace %></pre>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
