<div class="page-header">
  <h1>
    Edit Chapter Note

    <%= link_to "Remove", notes_chapter_chapter_note_path(@chapter), method: :delete, data: { confirm: 'Are you sure?', disable: 'Working'}, class: 'btn btn-small btn-danger pull-right' %>
  </h1>
</div>

<%= simple_form_for @chapter_note, url: notes_chapter_chapter_note_url(@chapter)  do |f| %>
  <div class='row'>
    <div class='span12'>
      <%= f.input :chapter_title, disabled: true, as: :string, label: 'Chapter', input_html: { class: 'span6', value: @chapter.goods_nomenclature_item_id } %>
    </div>
  </div>

  <%= render 'fields', f: f %>

  <div class='row'>
    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary', data: { 'disable-with' => 'Working' } %>
      <%= link_to "Back", :back, class: 'btn' %>
    </div>
  </div>
<% end %>
