<div class='row'>
  <h2>Chapters</h2>

  <table class='table table-bordered table-striped table-condensed table-chapters'>
    <thead>
      <tr>
        <th class='span7'>Chapter</th>
        <th class='span2'>Description</th>
        <th class='span3'>
          <%= link_to 'New Search Synonym', new_search_reference_path, class: 'btn btn-small' %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @search_references.each do |search_reference| %>
        <tr id='<%= dom_id(search_reference) %>'>
          <td><%= search_reference.title %></td>
          <td><%= search_reference.referenced_entity.reference_title %></td>
          <td>
            <%= link_to "Edit", edit_search_reference_path(search_reference), class: 'btn btn-small' %>
            <%= link_to "Remove", search_reference_path(search_reference), method: :delete, data: { confirm: 'Are you sure?', disable: 'Working'}, class: 'btn btn-small btn-warning' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @search_references %>
</div>
