<h2>Import search synonyms</h2>

<%= simple_form_for :synonyms_import, url: synonyms_import_path do |f| %>
  <p>Sample CSV file:</p>

  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th>goods_nomenclature_item_id</th>
        <th>title</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>8402000000</td>
        <td>machine tools</td>
      </tr>
    </tbody>
  </table>

  <hr>

  <p>Upload CSV with synonyms. Synonyms are overriden if ID is provided</p>

  <div>
    <%= f.input :file, as: :file, accept: 'text/csv' %>
  </div>

  <div class='form-actions'>
    <%= f.submit 'Import synonyms from CSV', class: 'btn btn-primary' %>
  </div>
<% end %>

<hr>

<p>Import Tasks:</p>

<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Task</th>
      <th>Created</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @import_tasks.each do |import_task| %>
      <tr>
        <td><%= import_task.file.metadata["filename"] %></td>
        <td><%= import_task.created_at.strftime('%B %e %Y %l:%M%P') %></td>
        <td><%= import_task.status.humanize %></td>
      </tr>
    <% end %>
  </tbody>
</table>
