<% content_for :page_title do %>TradeTariffAdmin<% end %>
<% content_for :app_title do %>TradeTariffAdmin<% end %>
<% content_for :app_home_path, root_path %>

<% content_for :head do %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<% end %>

<% content_for :navbar_items do %>
  <%= nav_link "Section & chapter notes", root_path, /\/notes|trade-tariff-admin$/ %>
  <%= nav_link "Search Synonyms", synonyms_sections_path, /\/synonyms/ %>
  <%= nav_link "Measure Types", measure_types_path, /\/measure_types/ %>
  <%= nav_link "Footnotes", footnotes_path, /\/footnotes/ %>
  <%= nav_link "Tariff Updates", tariff_updates_path, /\/tariff_updates/ %>
  <%= nav_link "Rollbacks", rollbacks_path, /\/rollbacks/ %>
<% end %>

<% content_for :navbar_right do %>
  <ul class="nav">
    <li class="dropdown">
      <span class="dropdown-toggle" data-toggle="dropdown">
        <%= current_user.name %>
        <span class="caret"></span>
      </span>
      <ul class="dropdown-menu">
        <li><%= link_to 'Sign out', gds_sign_out_path %></li>
      </ul>
    </li>
  </ul>
<% end %>

<%= render "flashes" %>
<%= render template: "layouts/govuk_admin_template" %>
